section.default-section.style-two
  .auto-container
    .row.clearfix
      // Video Column
      .video-column.col-md-6.col-sm-12.col-xs-12
        .video-box
          figure.image
            img(src='images/resource/video-img.jpg' alt)
          a.lightbox-image.overlay-box(href='https://www.youtube.com/watch?v=kxPCFljwJws')
            span.flaticon-arrow
      // About Column Two
      .about-column-two.col-md-6.col-sm-12.col-xs-12
        .inner-box
          h2 A propos
          .text AidNov™ est une plateforme digitale qui permettre de faire de collete de fonds. quelque sois le probleme et sa gravité vous pouvez faire des campagnes et des personne de bonne volonté ferons parler leur coeur.
          ul.list-style-two
            li Possibilité de cree des campagnes de demande de dons
            li Possibilité de faire des dons sur les cas les plus sensible.
            li Possibilité de devenir Ambassadeur et aider les personnes.
          .clearfix
            // Author Info
            .author-info.pull-left
              .img-thumb
                img(src='images/resource/author-1.jpg' alt)
              h4 Joel S. P. Gnakale
              .designation CEO & Founder LoHiDi® Group