section.team-section
  .auto-container
    // Sec Title
    .sec-title.centered
      h2 Notre équipe
      .text Une equipe jeunes et dynamique pour le developpeemnt du digitale.
    .row.clearfix
      // Team Member
      .team-member.col-md-3.col-sm-6.col-xs-12
        .inner-box
          .image
            img(src='images/resource/team-1.jpg' alt)
            .overlay-box
              ul.social-icon-four
                li
                  a(href='about.html#')
                    span.fa.fa-facebook
                li
                  a(href='about.html#')
                    span.fa.fa-twitter
                li
                  a(href='about.html#')
                    span.fa.fa-linkedin
          .lower-box
            h3 Antonio Creighton
            .designation Senior Volunteer
      // Team Member
      .team-member.col-md-3.col-sm-6.col-xs-12
        .inner-box
          .image
            img(src='images/resource/team-2.jpg' alt)
            .overlay-box
              ul.social-icon-four
                li
                  a(href='about.html#')
                    span.fa.fa-facebook
                li
                  a(href='about.html#')
                    span.fa.fa-twitter
                li
                  a(href='about.html#')
                    span.fa.fa-linkedin
          .lower-box
            h3 Jannatul Ferdous
            .designation Event Manager
      // Team Member
      .team-member.col-md-3.col-sm-6.col-xs-12
        .inner-box
          .image
            img(src='images/resource/team-3.jpg' alt)
            .overlay-box
              ul.social-icon-four
                li
                  a(href='about.html#')
                    span.fa.fa-facebook
                li
                  a(href='about.html#')
                    span.fa.fa-twitter
                li
                  a(href='about.html#')
                    span.fa.fa-linkedin
          .lower-box
            h3 Rashed kabir Abs
            .designation Head of Volunteer
      // Team Member
      .team-member.col-md-3.col-sm-6.col-xs-12
        .inner-box
          .image
            img(src='images/resource/team-4.jpg' alt)
            .overlay-box
              ul.social-icon-four
                li
                  a(href='about.html#')
                    span.fa.fa-facebook
                li
                  a(href='about.html#')
                    span.fa.fa-twitter
                li
                  a(href='about.html#')
                    span.fa.fa-linkedin
          .lower-box
            h3 Jubayer Al Hasan
            .designation Senior Volunteer