section.who-we-are-section
  .auto-container
    .inner-container
      .row.clearfix
        // Services Style One
        .services-style-one.col-md-4.col-sm-6.col-xs-12
          .inner-box
            .icon-box
              span.icon.flaticon-donation
            h3
              a(href='creer_une_campagne.html') Démarrer une campagne
            .title Faire des campagnes pour être aider
            .text Vous pouvez de faire des campagnes afin de demander de l'aide. Des gens de bonne volonté viendrons vous soutenir.
        // Services Style One
        .services-style-one.col-md-4.col-sm-6.col-xs-12
          .inner-box
            .icon-box
              span.icon.flaticon-piggy-bank
            h3
              a(href='donate.html') Faire un don
            .title Devenir donateur pour aider les autres.
            .text Si vous chercher un endroit ou faire des dons, aidez les plus faible. La plateforme AidNov est la meilleurs pour faire parler votre coeur.
        // Services Style One
        .services-style-one.col-md-4.col-sm-6.col-xs-12
          .inner-box
            .icon-box
              span.icon.flaticon-donation-1
            h3
              a(href='ambassadeur.html') Ambassadeur AidNov™
            .title Devenir un ambassadeur
            .text Vous pouvez devenir un Ambassadeur AidNov™ dès aujourd'hui afin de participer aux activités liées à la plateforme.