section.project-section
  .auto-container
    .sec-title.clearfix
      .pull-left
        h2 Nos Projets
        .text Nous avons des projets d'aide aux personnes dans le besoin extreme, aider nous a les réaliser...
      .pull-right
        a.theme-btn.btn-style-five(href='gallery.html') Voir tous les projets
    .row.clearfix
      // Gallery Block
      .gallery-block.col-md-4.col-sm-6.col-xs-12
        .inner-box
          .image
            img(src='images/resource/gallery-1.jpg' alt)
            .content
              h3 Aider les populations pauvre a acceder a l'eau potable
            .overlay-box
              .overlay-inner
                .overlay-content
                  h3
                    a(href='gallery.html') Aider les population pauvre a acceder a l'eau potable
                  a.arow-box(href='gallery.html')
                    span.icon.flaticon-right-arrow
      // Gallery Block
      .gallery-block.col-md-4.col-sm-6.col-xs-12
        .inner-box
          .image
            img(src='images/resource/gallery-2.jpg' alt)
            .content
              h3 Tous les enfants ont le droits d'aller à l'école, aidez les à y aller.
            .overlay-box
              .overlay-inner
                .overlay-content
                  h3
                    a(href='gallery.html') Tous les enfants ont le droits d'aller à l'école, aidez les à y aller.
                  a.arow-box(href='gallery.html')
                    span.icon.flaticon-right-arrow
      // Gallery Block
      .gallery-block.col-md-4.col-sm-6.col-xs-12
        .inner-box
          .image
            img(src='images/resource/gallery-3.jpg' alt)
            .content
              h3.
                Aidons les pauvres a se vertir, faite un don en espèces ou en vetement.
                
            .overlay-box
              .overlay-inner
                .overlay-content
                  h3
                    a(href='gallery.html') Aidons les pauvres a se vertir, faite un don en espèces ou en vetement..
                  a.arow-box(href='gallery.html')
                    span.icon.flaticon-right-arrow