section.call-to-action-section(style='background-image:url(images/background/2.jpg);')
  .auto-container
    h2 Devenir un Ambassadeur
    .text Rejoignez-nous, devenez un héros et faites sourire le monde !!
    a.theme-btn.btn-style-three(href='ambassadeur.html') Devenir un Ambassadeur