section.default-section
  .auto-container
    .row.clearfix
      // About Column
      .about-column.col-md-6.col-sm-12.col-xs-12
        // Sec Title
        .sec-title.medium
          h2 A propos
        .row.clearfix
          .col-md-6.col-sm-6.col-xs-12
            h3 Qui sommes-nous?
            .text Au fond de nous, nous rêvons tous d’un monde meilleur. Une étincelle nous pousse à venir en aide à quelqu’un, à sauver un quartier ou même à changer une nation. Chez GoFundMe, nous pensons qu’il faut partager votre inspiration avec tout le monde.
          .col-md-6.col-sm-6.col-xs-12
            h3 Notre mission
            .text Grâce à notre site, il est facile d’inspirer les autres et de transformer la compassion en actes. En donnant aux gens les outils dont ils ont besoin pour partager leur histoire avec le plus grand nombre, nous avons bâti une communauté de plus de 50 millions de donateurs.
        .clearfix
          // Author Info
          .author-info.pull-left
            .img-thumb
              img(src='images/resource/author-1.jpg' alt)
            h4 Joel S. P Gnakale
            .designation CEO & Founder LoHiDi® Group
        a.theme-btn.btn-style-five(href='/about') En savoir plus
      // Accordian Column
      .accordian-column.col-md-6.col-sm-12.col-xs-12
        // Sec Title
        .sec-title.medium
          h2 FAQ
        ul.accordion-box
          // Block
          li.accordion.block
            .acc-btn
              .icon-outer
                span.icon.icon-plus.flaticon-plus-symbol
                |  
                span.icon.icon-minus.flaticon-minus-symbol
              | Comment démarrer une campagne?
            .acc-content
              .content
                .text
                  p pour faire une campagne, cliquer sur le bouton demarrer une campagne, remplissez le formualaire demander et valider votre campagne.
          // Block
          li.accordion.block
            .acc-btn.active
              .icon-outer
                span.icon.icon-plus.flaticon-plus-symbol
                |  
                span.icon.icon-minus.flaticon-minus-symbol
              | Comment collecter mes fonds?
            .acc-content.current
              .content
                .text
                  p Pour collecter plus de don, veuillez faire la promottion de votre compagnes en la partageans sur les reseaux sociaux et insiter plus de gens a vous aidez
          // Block
          li.accordion.block
            .acc-btn
              .icon-outer
                span.icon.icon-plus.flaticon-plus-symbol
                |  
                span.icon.icon-minus.flaticon-minus-symbol
              | Comment devenir un Ambassadeur?
            .acc-content
              .content
                .text
                  p Pour devenir embassadeur et aidez les personnes en manque, veuillez vous rendre sur la page conacts et remplisser le formulaire pour faire votre demande.