section.main-slider(data-start-height='700' data-slide-overlay='yes')
  .tp-banner-container
    .tp-banner
      ul
        li(data-transition='fade' data-slotamount='1' data-masterspeed='1000' data-thumb='images/main-slider/image-1.jpg' data-saveperformance='off' data-title='Awesome Title Here')
          img(src='images/main-slider/image-1.jpg' alt data-bgposition='center top' data-bgfit='cover' data-bgrepeat='no-repeat')
          .overlay-slide
          .tp-caption.sfl.sfb.tp-resizeme(data-x='left' data-hoffset='15' data-y='center' data-voffset='-60' data-speed='1500' data-start='0' data-easing='easeOutExpo' data-splitin='none' data-splitout='none' data-elementdelay='0.01' data-endelementdelay='0.3' data-endspeed='1200' data-endeasing='Power4.easeIn')
            h2
              | Des campagnes gratuites
              br
              | au profit d'êtres et de causes
              br
              | qui vous sont chers.
          .tp-caption.sfl.sfb.tp-resizeme(data-x='left' data-hoffset='15' data-y='center' data-voffset='90' data-speed='1500' data-start='500' data-easing='easeOutExpo' data-splitin='none' data-splitout='none' data-elementdelay='0.01' data-endelementdelay='0.3' data-endspeed='1200' data-endeasing='Power4.easeIn')
            .text Lancez une campagne dès aujourd'hui.
          .tp-caption.sfl.sfb.tp-resizeme(data-x='left' data-hoffset='15' data-y='center' data-voffset='160' data-speed='1500' data-start='1000' data-easing='easeOutExpo' data-splitin='none' data-splitout='none' data-elementdelay='0.01' data-endelementdelay='0.3' data-endspeed='1200' data-endeasing='Power4.easeIn')
            a.theme-btn.btn-style-two(href='/start_campagne') Démarrer une campagne
        li(data-transition='fade' data-slotamount='1' data-masterspeed='1000' data-thumb='images/main-slider/image-2.jpg' data-saveperformance='off' data-title='Awesome Title Here')
          img(src='images/main-slider/image-2.jpg' alt data-bgposition='center top' data-bgfit='cover' data-bgrepeat='no-repeat')
          .tp-caption.sft.sfb.tp-resizeme(data-x='center' data-hoffset='0' data-y='center' data-voffset='-90' data-speed='1500' data-start='500' data-easing='easeOutExpo' data-splitin='none' data-splitout='none' data-elementdelay='0.01' data-endelementdelay='0.3' data-endspeed='1200' data-endeasing='Power4.easeIn').
            
            
          .tp-caption.sfb.sfb.tp-resizeme(data-x='center' data-hoffset='0' data-y='center' data-voffset='0' data-speed='1500' data-start='1000' data-easing='easeOutExpo' data-splitin='none' data-splitout='none' data-elementdelay='0.01' data-endelementdelay='0.3' data-endspeed='1200' data-endeasing='Power4.easeIn')
            h3 #AIDONSNOUSVIVANTS
          .tp-caption.sfb.sfb.tp-resizeme(data-x='center' data-hoffset='15' data-y='center' data-voffset='100' data-speed='1500' data-start='1500' data-easing='easeOutExpo' data-splitin='none' data-splitout='none' data-elementdelay='0.01' data-endelementdelay='0.3' data-endspeed='1200' data-endeasing='Power4.easeIn')
            a.theme-btn.btn-style-two(href='/') Faire un don
// End Main Slider