section.testimonial-section-two
  .auto-container
    h2 Témoignages!!
    .three-item-carousel.owl-carousel.owl-theme
      // Testimonial Block Two
      .testimonial-block-two
        .inner-box
          .content
            .author
              .image
                img(src='images/resource/author-5.jpg' alt)
              h3 Benedicte Tra lou
              .designation De la Côte d'ivoire
            .text J'aime cette plateforme, elle me permet de faire des dons sans me deplacer.
            .clearfix
              .pull-left
                .date 18 sept 2019
              .pull-right
                .quote-icon
                  span.flaticon-left-quote-1
      // Testimonial Block Two
      .testimonial-block-two
        .inner-box
          .content
            .author
              .image
                img(src='images/resource/author-6.jpg' alt)
              h3 Rashed Kabir
              .designation Du Maroc
            .text Cette plateforme est genial, redonner du sourie au gens pauvre depuis lautre coté monde.
            .clearfix
              .pull-left
                .date 28 jan 2020
              .pull-right
                .quote-icon
                  span.flaticon-left-quote-1
      // Testimonial Block Two
      .testimonial-block-two
        .inner-box
          .content
            .author
              .image
                img(src='images/resource/author-7.jpg' alt)
              h3 Muhibbur Rashid
              .designation From Accra
            .text If you are looking casset the web you may be very confused look at difference price
            .clearfix
              .pull-left
                .date 18 Aug 2016
              .pull-right
                .quote-icon
                  span.flaticon-left-quote-1