section.counter-section(style='background-image:url(images/background/1.jpg);')
  .auto-container
    .row.clearfix
      .fact-counter
        .row.clearfix
          // Column
          .column.counter-column.wow.fadeIn.col-md-3.col-sm-6.col-xs-12(data-wow-delay='0ms' data-wow-duration='0ms')
            .inner
              .count-outer.count-box
                span.count-text(data-speed='2500' data-stop='1479') 0
              h4.counter-title Campagnes Complétées
          // Column
          .column.counter-column.wow.fadeIn.col-md-3.col-sm-6.col-xs-12(data-wow-delay='0ms' data-wow-duration='0ms')
            .inner
              .count-outer.count-box
                span.count-text(data-speed='800' data-stop='821.873') 0
                span.dollor-sign FCFA
              h4.counter-title Dons Collectés
          // Column
          .column.counter-column.wow.fadeIn.col-md-3.col-sm-6.col-xs-12(data-wow-delay='0ms' data-wow-duration='0ms')
            .inner
              .count-outer.count-box
                span.count-text(data-speed='800' data-stop='821.873') 0
                span.dollor-sign FCFA
              h4.counter-title Fonds collectés
          // Column
          .column.counter-column.wow.fadeIn.col-md-3.col-sm-6.col-xs-12(data-wow-delay='0ms' data-wow-duration='0ms')
            .inner
              .count-outer.count-box
                span.count-text(data-speed='3000' data-stop='256') 0
                span.plus-tag +
              h4.counter-title Ambassadeurs