section.causes-section.dark-bg
  .auto-container
    .sec-title.clearfix
      .pull-left
        h2 Causes Récentes
        .text Votre don apportera un sourire à quelqu'un.
    .row.clearfix
      // Causes Block
      .causes-block.col-md-4.col-sm-6.col-xs-12
        .inner-box
          .image
            a(href='causes-single.html')
              img(src='images/resource/causes-1.jpg' alt)
          .lower-box
            .content
              h3
                a(href='causes-single.html')
                  | Education pour tout les
                  br
                  | Enfants de la rue
              .text La campagne de collecte de fonds pour aider les enfants de la rue Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit accusantium fugit ipsum fugiat cumque, iure voluptate explicabo enim quae at. Nihil, explicabo iste blanditiis minima maxime nisi ducimus incidunt. Quo.
              .donate-bar.wow.fadeIn(data-wow-delay='0ms' data-wow-duration='0ms')
                .bar-inner
                  .bar(style='width:82%;')
                    .count-box
                      span.count-text(data-speed='2000' data-stop='82') 0
                      | %
              .causes-info
                strong Recoltés
                |  56.000 FCFA / 
                span.theme_color 75.000 FCFA
      // Causes Block
      .causes-block.col-md-4.col-sm-6.col-xs-12
        .inner-box
          .image
            a(href='causes-single.html')
              img(src='images/resource/causes-2.jpg' alt)
          .lower-box
            .content
              h3
                a(href='causes-single.html')
                  | Sauvons les animaux et la beauté naturelle
                  br
              .text.
                Receuille de fonds pour aider les animaux malades et en manque...
                
              .donate-bar.wow.fadeIn(data-wow-delay='0ms' data-wow-duration='0ms')
                .bar-inner
                  .bar(style='width:82%;')
                    .count-box
                      span.count-text(data-speed='2000' data-stop='82') 0
                      | %
              .causes-info
                strong Recoltés
                |  56.000 FCFA / 
                span.theme_color 75.000 FCFA
      // Causes Block
      .causes-block.col-md-4.col-sm-6.col-xs-12
        .inner-box
          .image
            a(href='causes-single.html')
              img(src='images/resource/causes-3.jpg' alt)
          .lower-box
            .content
              h3
                a(href='causes-single.html')
                  | L'eau potable pour tous
                  br
                  | les villageois d'Ourepa.
              .text.
                Aidons les personnes pauvres à beneficier de l'eau potable...
                
              .donate-bar.wow.fadeIn(data-wow-delay='0ms' data-wow-duration='0ms')
                .bar-inner
                  .bar(style='width:82%;')
                    .count-box
                      span.count-text(data-speed='2000' data-stop='82') 0
                      | %
              .causes-info
                strong Recoltés
                |  56.000 FCFA / 
                span.theme_color 75.000 FCFA
