section.sponsors-section
  .auto-container
    .carousel-outer
      // Sponsors Slider
      ul.sponsors-carousel.owl-carousel.owl-theme
        li
          .image-box
            a
              img(src='images/clients/1.png')
        li
          .image-box
            a
              img(src='images/clients/2.png')
        li
          .image-box
            a
              img(src='images/clients/3.png')
        li
          .image-box
            a
              img(src='images/clients/4.png')
        li
          .image-box
            a
              img(src='images/clients/1.png')
        li
          .image-box
            a
              img(src='images/clients/2.png')
        li
          .image-box
            a
              img(src='images/clients/3.png')
        li
          .image-box
            a
              img(src='images/clients/4.png')