section.subscribe-style-one
  .auto-container
    .row.clearfix
      .col-md-8.col-sm-12.col-xs-12
        h2 Souscrire aux Newsletters
        .text Entrer votre e-mail pour en savoir plus rester en contact avec l'équipe AidNov™.
      .col-md-4.col-sm-12.col-xs-12
        form(method='post' action='contact.html')
          .form-group
            input(type='email' name='email' placeholder='Entrer votre E-mail' required)
            button.theme-btn(type='submit')
              span.icon.flaticon-send-message-button