extends base

block content
  include inclusion/_page_title
  section.title-section
    .auto-container
      .text
        | La plateforme 
        span.theme_color n°1 de collecte de fonds
        |  pour des campagnes au profit d'êtres et de causes qui vous sont chers.
  include sections/_about_section_2
  include sections/_about_section_3
  include sections/_section_5_1_nombre
  include sections/_about_section_4
  include sections/_section_6_testemonial
  include sections/_section_7_ambassadeur 
  include sections/_section_8_sponsor 
  include sections/_section_9_newletter