include inclusion/_head
include inclusion/_emailverifiedstyle 

.page-wrapper
  .preloader
  include inclusion/_customhead

.signup-form
  form
    p.text-center(style='color: #179b81;')
      i.fa.fa-check-circle(style='font-size: 80px;margin-top: 20px; margin-bottom:20px')
    h2 Campagne crée avec succés
    h4
      p.medium.text-center Votre campagne a bien été crée. Un e-mail vous a été envoyé pour la suite des instructions. Veuillez consulter votre boîte Mail.
    .form-group.  
  .text-center
    a(href='/') Aller sur la page d'accueil
    | .
include inclusion/_script
