include inclusion/_head
include inclusion/_emailverifiedstyle 

.page-wrapper
  .preloader
  include inclusion/_customhead

.signup-form
  form
    p.text-center(style='color: #179b81;')
      i.fa.fa-check-circle(style='font-size: 80px;margin-top: 20px; margin-bottom:20px')
    h2 E-mail vérifié
    h4
      p.medium.text-center Votre email a bien été vérifié. Votre inscription a bien été enregistré. Vous avez désormais accès à tous les services.
    .form-group.  
  .text-center
    a(href='/') Aller vers votre compte
    | .
include inclusion/_script
