extends base

block content

  include sections/_section_1_slide

  include sections/_section_2_infosection

  include sections/_section_3_collect

  include sections/_section_3_recentecause

  include sections/_section_4_about 

  include sections/_section_5_1_nombre

  include sections/_section_5_projet

  include sections/_section_6_testemonial

  include sections/_section_7_ambassadeur

  include sections/_section_8_sponsor

  include sections/_section_9_newletter

