include inclusion/_head
include inclusion/_script
.page-wrapper
  .preloader
  include inclusion/_customhead
  include inclusion/_page_title
  include inclusion/_campagne_form
  include inclusion/_footer