//- Email template adapted from https://github.com/leemunroe/responsive-html-email-template
//- Converted from HTML using https://html2pug.now.sh/

doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _style
  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')

                // START MAIN AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              // CONTENT
                              p Bonjour #{nom},
                              p Bienvenue sur AIDNOV la plateforme de don qui vous donnera du sourire🎉🙏
                              p Nous sommes une grandes famille, veuillez valider votre compte avec le bouton ci-dessous pour accéder a notre plateforme!
                              table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                tbody
                                  tr
                                    td(align='left')
                                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                          tr
                                            td
                                              a(href=`${url}`, target='_blank') Valider votre compte
                              p Vous avez besoin d'une aide n'hesitez pas contactez nous !
                              p - admin@aidnov.com, Service clients

              // START FOOTER
              .footer
                include _footer.pug
          //- td  
