.signup-form
  form#signup-form
    h2 Changer le mot de passe
    .contact-form
      .form-group
        .input-group
          span.input-group-addon
            i#lock2.fa.fa-lock
          input.form-control#password(type='text' name='password' placeholder='Nouveau mot de passe' required)
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock#lock3
            i.fa.fa-check
          input.form-control#confirm_password(type='text' name='confirm_password' placeholder='Confirmer le votre mot de passe' required)
    p.medium.text-center
      | En cliquant sur 
      strong "changer le mot de passe"
      |  vous acceptez les 
      a(href='conditions_generales%20_dutilisation.html') Conditions générales d’utilisation
      |  et accusez réception de la 
      a(href='politique_de_confidentialite.html') Politique de confidentialité
      | 
à 
      strong AidNov™
      |  – A product of LoHiDi
      span ® ®
      |  Group.
    .form-group
      button.btn.btn-block.btn-lg#btn-un(type='submit') Changer le mot de passe
  .text-center
    | Vous avez un compte ? 
    a(href='connexion.html') Se connecter
    | .