footer.main-footer
  .auto-container
    .row.clearfix
      .big-column.col-md-7.col-sm-12.col-xs-12
        .row.clearfix
          // Footer Column
          .footer-column.col-md-6.col-sm-6.col-xs-12
            .footer-widget.logo-widget
              .widget-content
                .logo-box
                  a(href='/')
                    img(src='/images/footer-logo.png' alt)
                .text La plateforme n°1 de collecte de fonds en ligne pour des campagnes au profit d'êtres et de causes qui vous sont chers.
                ul.social-icon-two
                  li
                    a(href='https://www.facebook.com/aidnov' target='_blank')
                      span.fa.fa-facebook
                  li
                    a(href='https://www.instagram.com/aid_nov' target='_blank')
                      span.fa.fa-instagram
                  li
                    a(href='https://www.twitter.com/AidNov' target='_blank')
                      span.fa.fa-twitter
                  li
                    a(href='https://www.youtube.com/aidnov' target='_blank')
                      span.fa.fa-youtube
                  li
                    a(href='https://www.vimeo.com/')
                      span.fa.fa-vimeo
          // Footer Column / Links Widget
          .footer-column.col-md-6.col-sm-6.col-xs-12
            .footer-widget.links-widget
              h2 Liens rapides
              .widget-content
                .row.clearfix
                  ul.list.col-md-7.col-sm-6.col-xs-12
                    li
                      a(href='/') Á propos
                    li
                      a(href='/') Faire un don
                    li
                      a(href='/') Catégories de causes
                    li
                      a(href='/') Démarrer une campagne
                    li
                      a(href='/') Mode d'emploi
                  ul.list.col-md-5.col-sm-6.col-xs-12
                    li
                      a(href='https://play.google.com/store/apps') Android App
                    li
                      a(href='https://www.apple.com/ios/app-store/') iOS App
                    li
                      a(href='/') Témoignages
                    li
                      a(href='/') Contact
      .big-column.col-md-5.col-sm-12.col-xs-12
        .row.clearfix
          // Footer Column
          .footer-column.col-lg-6.col-md-6.col-sm-6.col-xs-12
            .footer-widget.gallery-widget
              h2 Galerie photos
              .widget-content
                .images-outer.clearfix
                  // Image Box
                  figure.image-box
                    a.lightbox-image(href='/images/resource/blog-3.jpg' title='Image Title Here' data-fancybox-group='footer-gallery')
                      img(src='/images/gallery/footer-gallery-thumb-1.jpg' alt)
                  // Image Box
                  figure.image-box
                    a.lightbox-image(href='/images/resource/causes-10.jpg' title='Image Title Here' data-fancybox-group='footer-gallery')
                      img(src='/images/gallery/footer-gallery-thumb-2.jpg' alt)
                  // Image Box
                  figure.image-box
                    a.lightbox-image(href='/images/resource/causes-11.jpg' title='Image Title Here' data-fancybox-group='footer-gallery')
                      img(src='/images/gallery/footer-gallery-thumb-3.jpg' alt)
                  // Image Box
                  figure.image-box
                    a.lightbox-image(href='/images/resource/causes-7.jpg' title='Image Title Here' data-fancybox-group='footer-gallery')
                      img(src='/images/gallery/footer-gallery-thumb-4.jpg' alt)
          // Footer Column
          .footer-column.col-md-6.col-sm-6.col-xs-12
            .footer-widget.address-widget
              h2 Contact
              .widget-content
                ul.list-style-one
                  li
                    span.icon.flaticon-location-pin
                    | B52, Rue du Lycée Technique Cocody, Abidjan
                  li
                    span.icon.flaticon-technology-1
                    a(href='tel:+22507088586' style='color: rgb(160, 170, 179);') (+225) 0708 8586
                  li
                    span.icon.flaticon-e-mail-envelope
                    a(href='mailto:aide@aidnov.com' style='color: rgb(160, 170, 179);' target='_blank') aide@aidnov.com
  .footer-bottom
    .auto-container
      .row.clearfix
        .col-md-6.col-sm-6.col-xs-12
          .copyright
            |  © 2020 AidNov™ – A product of LoHiDi
            span.custom-trademark
              span ®
            |  Group. Tous droits réservés.
            br
            | Créé avec ❤️ à Abidjan, Côte d’Ivoire 🇨🇮 par 
            a#lien(href='https://it.lohidi.com' target='_blank' style='color: #fff;')
              | LoHiDi I IT
              span ® ®
        .col-md-6.col-sm-6.col-xs-12
          ul.footer-nav
            li
              a(href='/') Conditions générales d'utilisation
            li
              a(href='/') Politique de confidentialité