script(src='/js/jquery.js')
script(src='/js/register.js')
script(src='/js/login.js')
script(src='/js/forgotpass.js')
script(src='/js/bootstrap.min.js')
script(src='/js/revolution.min.js')
script(src='/js/jquery.fancybox.pack.js')
script(src='/js/jquery.fancybox-media.js')
script(src='/js/owl.js')
script(src='/js/appear.js')
script(src='/js/wow.js')
script(src='/js/validate.js')
script(src='/js/script.js')
script(src='/js/color-settings.js')
script(src='/js/countrystatecity.js')
script(src='/js/toastr.min.js')
